:root{
  --pr-ungu: #362FD9;
}

body{
  font-family: "Poppins";
  background-color: #fcfcfc;
}
/* navbar style */
.navbar-brand {
  font-size: 25px;
  font-weight: 400;
}
.navbar-brand1 {
  font-size: 25px;
  font-weight: 400px;
  color:#362FD9;
  text-decoration: none;
 
}
.warna{
   color: var(--pr-ungu);
}
.nav-link.active {
  font-size: 16px;
  font-weight: 400px;
  background-color: #fcfcfc;
  border:none;
  color: #362FD9;
}
.nav-link{
   font-size: 16px;
  font-weight: 400px;
}
.btn-contact{
  width: 133px;
  height: 40px;
  background-color: #362FD9;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fcfcfc;
  border-radius: 20px;
}
/* navbar end */
.btn-outline-gett{
  width: 133px;
  height: 40px;
  background-color: #362FD9;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fcfcfc;
  border-radius: 20px;
}
.btn-outline-vidio{
  width: 133px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #362FD9;
  border-radius: 20px;
  border: solid 2px;
}

/* section */
.text-hero h1{
  font-size: 40px;
  font-weight: 400;
}
.warna1{
  color: var(--pr-ungu);
}
img {
  text-align: center;
  font-size: 50px;
}
/* end section */

/* section alasan */
.warna2{
  color: var(--pr-ungu);
}
#alasan{
  padding: 100px 0;
  font-size: 15px;
}
h1{
  font-size: 45px;
  font-weight: 10px;
  color: #000;
  font-style: bold;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}
.card-body{
  height: 284px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  transition: all 0.1s ease-in;
}
.card-body img{
  height: 60px;
  width: 60x;
  border:none;
  transition: all 0.1s ease-in;
}
#profil{
  padding: 100px ;
  font-size: 15px;
}
/* end section alasan */

/* section profil */
#profil{
  padding:55px 0;
  width: 100%;
}
.kepsek h2{
  font-size: 30px;
  font-weight: 700;
}
.kepsek p{
  font-size: 16px;
}
.btn-pro

/* end section profil */