:root{
  --pr-ungu: #362FD9;
}

body{
  font-family: "Poppins";
  background-color: #fcfcfc;
}
/* navbar style */
.navbar-brand {
  font-size: 25px;
  font-weight: 400;
}
.navbar-brand1 {
  font-size: 25px;
  font-weight: 400px;
  color:#362FD9;
  text-decoration: none;
 
}
.nav-link.active {
  font-size: 16px;
  font-weight: 400px;
  background-color: #fcfcfc;
  border:none;
  color: #362FD9;
}
.nav-link{
   font-size: 16px;
  font-weight: 400px;
}
.btn-contact{
  width: 133px;
  height: 40px;
  background-color: #362FD9;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fcfcfc;
  border-radius: 20px;
}
/* navbar end */
.btn-outline-gett{
  width: 133px;
  height: 40px;
  background-color: #362FD9;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fcfcfc;
  border-radius: 20px;
}
.btn-outline-vidio{
  width: 133px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #362FD9;
  border-radius: 20px;
  border: solid 2px;
}

/* section */
.text-hero h1{
  font-size: 40px;
  font-weight: 400;
}
.warna{
  color: var(--pr-ungu);
}
img {
  text-align: center;
  font-size: 50px;
}
/* end section */

/* knp */
#our-service{
    padding: 100px 0;
    width: 100%;
  }
.warna2{
  color: var(--pr-ungu);
}
h1{ 
    font-size: 10px;
    font-weight: 400;
}
p{
    font-size: 10px;
    font-weight: 400;
    color: #000000;
}
/* end knp */